/* -------------------------------------------------------------------------- */
/*                                 about page                                 */
/* -------------------------------------------------------------------------- */

.aboutpage {
  // ===== about =====
  .about {
    &_container {
      margin-top: 140px;
    }

    &_fv {
      picture {
        display: block;
        position: relative;
        z-index: 1;
        height: auto;
        padding-bottom: 100%;
        background-color: $dominant-cl;
        overflow: hidden;

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &_main {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 62.014vw;

        .title {
          margin: 0 auto;
          h2 {
            width: 100%;
            font-size: 4.6rem;
            letter-spacing: 2px;
            font-weight: 600;
            line-height: 1.4;
            writing-mode: vertical-rl;

            span {
              display: inline-block;
              height: 25px;
              margin-top: 3px;
            }
          }
        }

        .thumb {
          picture {
            padding-bottom: calc(596 / 893 * 100%);
            border-radius: 5px 0 0 5px;
          }
        }
      }

      &_sub {
        display: grid;
        grid-template-columns: 38.194vw 1fr;
        position: relative;
        z-index: 2;

        .thumb {
          margin-top: -150px;
          picture {
            background-color: #adadad;
            padding-bottom: calc(367 / 550 * 100%);
            border-radius: 0 5px 5px 0;
          }
        }
      }

      &_content {
        margin-top: 150px;
        padding: 0 var(--padd);
      }

      &_desc {
        padding: 0 50px;
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 2;
        text-align: justify;
        font-feature-settings: "palt" 1;
      }
    }

    @include maxW(1023px) {
      &_container {
        margin-top: 112px;
      }

      &_fv {
        picture {
          padding-bottom: 100% !important;
          aspect-ratio: 1/1;
        }

        &_main {
          display: block;

          .title {
            position: absolute;
            top: -65px;
            right: 50px;
            z-index: 3;

            h2 {
              font-size: 2.6rem;

              span {
                height: 16px;
                margin-top: 2px;
              }
            }
          }

          .thumb {
            width: 85.507%;
            margin-left: auto;

            picture {
              border-radius: 3px 0 0 3px;
            }
          }
        }

        &_sub {
          display: block;

          .thumb {
            width: 66.184%;
            margin-top: -45px;

            picture {
              border-radius: 0 3px 3px 0;
            }
          }
        }

        &_content {
          margin-top: 60px;
        }

        &_desc {
          padding: 0;
          font-size: 1.5rem;
          line-height: 1.93;
        }
      }
    }

    &_feature {
      padding-top: 150px;

      .c-textcircle p {
        margin-bottom: -60px;
      }

      &_group {
        margin-top: 150px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 80px;
        padding: 0 var(--padd);
      }

      &_content {
        .c-feature_inner {
          display: block;
          padding: 0;

          figure {
            margin-top: 35px;
            border-radius: 5px;
          }
        }
      }

      @include maxW(1023px) {
        padding-top: 100px;

        .c-textcircle p {
          margin-bottom: -35px;
        }

        &_group {
          margin-top: 80px;
          grid-template-columns: repeat(1, 1fr);
          padding: 0;
        }

        &_content {
          .c-feature_inner {
            figure {
              border-radius: 5px 0 0 5px;
            }
          }
        }
      }
    }

    &_building {
      margin-top: 150px;

      &_swiper {
        margin-top: 50px;
      }

      @include maxW(1023px) {
        margin-top: 80px;

        &_swiper {
          margin-top: 40px;
        }
      }
    }

    &_tabs {
      margin-top: 150px;

      &_list {
        display: flex;
        gap: 45px;

        li {
          position: relative;
          width: fit-content;
          cursor: pointer;
          opacity: 0.3;
          transition: opacity 0.3s ease-out;

          &.--active {
            opacity: 1;

            &:after {
              content: "";
              position: absolute;
              bottom: 0;
              right: 0;
              width: calc(100% - 35px);
              height: 3px;
              background-color: $black-cl;
            }
          }
        }
      }

      &_content {
        margin-top: 60px;
        opacity: 0;
        animation: 1s forwards fadeTab;
        display: none;
        visibility: hidden;

        &.--active {
          display: block;
          visibility: visible;
        }
      }

      @include maxW(1023px) {
        margin-top: 80px;

        &_list {
          gap: 22px;

          li {
            &.--active {
              &:after {
                width: calc(100% - 30px);
                height: 2px;
              }
            }
          }
        }

        &_content {
          margin-top: 45px;
        }
      }
    }

    &_info {
      &_inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 80px;
      }

      @include minW(1024px) {
        &_inner {
          &.--only {
            display: block;

            tr {
              grid-template-columns: repeat(4, 1fr);

              td:nth-of-type(2) {
                grid-column: 2/5;
              }
            }
          }
        }
      }

      @include maxW(1023px) {
        &_inner {
          display: block;
        }
      }
    }

    &_table {
      width: 100%;
      position: relative;

      table {
        width: 100%;
        border-collapse: collapse;

        tr {
          display: grid;
          grid-template-columns: 1fr 68%;
          gap: 20px;
          border-top: 1px solid rgba($color: #000000, $alpha: 0.1);
          padding: 35px 0;

          &:last-child {
            border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
          }
        }

        td {
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.53;
          text-align: justify;
          font-feature-settings: "palt" 1;
        }

        .th {
          display: flex;
          align-items: center;
          gap: 12px;

          span {
            display: block;
            width: 20px;
            height: 3px;
            background-color: #a99055;
            border-radius: 10px;
          }

          p {
            font-weight: 600;
          }
        }
      }

      @include maxW(1023px) {
        table {
          tr {
            padding: 25px 0;
            &.--hide {
              &:last-child {
                border-bottom: none;
              }
            }
          }

          td {
            font-size: 1.3rem;
            line-height: 1.65;
            flex-wrap: nowrap;
          }

          .th {
            gap: 7px;

            span {
              width: 7px;
              height: 2px;
              border-radius: 0;
            }
          }
        }
      }
    }

    &_history {
      &_content {
        grid-column: 1/4;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 2;
        text-align: justify;
        font-feature-settings: "palt" 1;
      }

      @include maxW(1023px) {
        &_inner {
          display: block;
        }

        &_content {
          font-size: 1.3rem;
          line-height: 1.81;
        }
      }
    }
  }

  // ===== ishikawa =====
  .ishikawa {
    &_entry {
      margin-top: 120px;

      picture {
        display: block;
        position: relative;
        z-index: 1;
        height: auto;
        padding-bottom: 100%;
        background-color: $dominant-cl;
        overflow: hidden;
        border-radius: 5px;

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    &_heading {
      margin-bottom: 50px;
    }

    &_group {
      margin-top: 150px;

      &:first-child {
        margin-top: initial;
      }
    }

    &_thumb {
      position: relative;

      picture {
        padding-bottom: calc(600 / 900 * 100%);
      }

      &_txt {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        color: $white-cl;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        p {
          font-size: 2.8rem;
          font-weight: 600;
          line-height: 1.54;
          writing-mode: vertical-lr;
        }
      }
    }

    &_content {
      margin-top: 80px;

      &.--mt-none {
        margin-top: initial;
      }

      &.--right {
        p {
          text-align: right;
        }
      }

      p {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 2;
        text-align: justify;
        font-feature-settings: "palt" 1;
      }
    }

    &_trees {
      margin-top: 80px;

      picture {
        padding-bottom: calc(733 / 900 * 100%);
      }
    }

    &_feature {
      display: flex;
      gap: 80px;

      &.--reverse {
        flex-direction: row-reverse;
      }

      &_left {
        width: 45.556%;
      }

      &_right {
        flex: 1;

        .--sign {
          margin-top: 0;
        }

        &.--flex {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
      }

      picture {
        padding-bottom: calc(547 / 410 * 100%);

        &.--square {
          aspect-ratio: 1/1;
          padding-bottom: 100%;
        }
      }
    }

    @include maxW(1023px) {
      &_entry {
        margin-top: 80px;
        padding: 0;
      }

      &_heading {
        margin-bottom: 40px;
      }

      &_group {
        margin-top: 115px;
      }

      &_thumb {
        picture {
          padding-bottom: calc(247 / 370 * 100%);

          &.--square-sp {
            aspect-ratio: 1/1;
            padding-bottom: 100%;
          }
        }

        &_txt {
          p {
            font-size: 2rem;
          }
        }
      }

      &_content {
        margin-top: 40px;

        &.--mt-none {
          margin-top: 40px;
        }

        p {
          font-size: 1.3rem;
          line-height: 1.81;
        }
      }

      &_trees {
        margin-top: 40px;

        picture {
          padding-bottom: calc(301 / 370 * 100%);
        }
      }

      &_feature {
        display: block;

        &_left {
          width: 100%;
        }

        &_right {
          .--sign {
            margin-top: 40px;
          }
        }

        picture {
          padding-bottom: calc(247 / 370 * 100%);

          &.--square {
            aspect-ratio: auto;
            padding-bottom: calc(247 / 370 * 100%);
          }

          &.--square-sp {
            aspect-ratio: 1/1;
            padding-bottom: 100%;
          }
        }
      }
    }
  }
}
